/*header*/

.header-magazine {
	height: 110px;

	.container {
		background: $color-header;
		height: 100%;
	}
}

.header-image {
	background: url(../images/dark-ocean.jpg);
	float: right;
	height: 82%;
    width: 60.5%;
    margin: 10px;
    background-position: 4px;
}

.magazine-logo {
	background: url(../images/pm-logo.png) no-repeat;
	height: 100%;
    width: 35%;
	float: left;
	background-position: 23px 15px;
}

.logo-wrapper {
	height: 100%;
}

.nav.container {
	background: $color-black;
	color: $color-white;
}

.nav-menu {
	position: relative;
}

.nav-list {
	padding: 0;
    list-style-type: none;
  	width: 58%;
    margin: 0 auto;

    &__item {
    	padding: 13px;
    	float: left;

    	a {
    		color: #fff;
		    text-decoration: none;
		    text-transform: uppercase;
		    font-family: monospace;
    		font-size: 18px;
    	}
    }
}

.icons-wrapper {
    color: $color-white;
    font-size: 20px;
    padding: 13px;
    position: absolute;
    top: 0;
    right: 0;

    i {
    	padding: 0 10px 0 10px;

    	&:hover {
    		cursor: pointer;
    	}
    }
}

.nav-list__item.features:hover {
	background: $color-header-hover-features;
}

.nav-list__item.lifestyle:hover {
	background: $color-header-hover-lifestyle;
}

.nav-list__item.videogames:hover {
	background: $color-header-hover-videogames;
}

.nav-list__item.design:hover {
	background: $color-header-hover-design;
}

.nav-list__item.music:hover {
	background: $color-header-hover-music;
}

.nav-list__item.shop:hover {
	background: $color-header-hover-shop;
}

.icons-links-wrapper, .social-header-block__heading {
	color: $color-grey-text-icons;
}

.social-header-block {
	background: $color-light-grey-background;

	a {
		text-decoration: none;
		color: $color-dark-grey;
	}
}

.social-text-wrapper {
	float: left;
	color: $color-dark-grey;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    margin: 12px 0 12px 30px;
}

.icons-links-wrapper {
	float: right;
	color: $color-dark-grey;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    margin: 12px 20px 12px 0;

    i {
    	font-size: 22px;
    	margin: 0 5px 0 5px;
    }

	p {
		display: inline-block;
		margin: 0;
	}
}

.social-header-block__heading {
	display: inline-block;
	margin: 0;
}

/*image section 1*/

.article-image-presentation__title {
	text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 0;
}

.w49 .article-image-presentation__title {
	font-size: 36px;
	letter-spacing: -4px;
	bottom: 14%;
}

.w33 .article-image-presentation__title {
	font-size: 26px;
	letter-spacing: -2px;
	bottom: 21%;
}


.post-identificator {
	text-align: center;
	position: absolute;
	bottom: 0;

	&__item {
		display: inline-block;
		font-family: monospace;
		margin: 15px 5px 20px 5px;

		i {
			font-size: 12px;
		}

		span {
			font-size: 15px;
	    	letter-spacing: -1px;
		}
	}	
}
 
.article-image-presentation {
	position: relative;

	img {
		width: 100%;
		height: 100%;
	}

	a {
		color: inherit;
		width: 100%;
    	height: 100%;
    	display: inline-block;
	}
}

.article-presentation.container {
	background: $color-white;

	.w49.article-image-presentation:first-child {
		float: left;
	}

	.w49.article-image-presentation:nth-child(2) {
		float: right;
	}

	.w33:first-child {
		float: left;
	}

	.w33:last-child {
		float: right;
	}
}

.w33 .post-identificator {
	left: 6%;
}

.w49 .post-identificator {
	left: 22%;
}

/*nav-list*/

.features-lists__list {
	list-style-type: none;
	padding: 0;
    font-size: 16px;
    text-align: center;  
    font-family: monospace;
    font-weight: bold;

	a {
		text-decoration: none;
		text-transform: none;

		&:hover {
			color: $color-dark-grey;
		}
	}

	li {
		padding: 10px 0 10px 0;
	}
}

.features-lists {
	height: 500px;
}

.features-lists, .lifestyle-lists,  .videogames-lists, .design-lists, .music-lists {
	position: absolute;
    top: 48px;
    z-index: 1000;
    left: 0px;
}

.features-lists__column {
	text-align: center;
}

.features-lists__heading {
	text-transform: uppercase;
	font-family: monospace;
	font-size: 20px;
    letter-spacing: 0.5px;
}

.features-lists-hr {
	border-color: $color-header-hover-features;
	width: 100%;
	height: 2px;
	background: $color-header-hover-features;
}

.heading-wrapper {
	display: inline-block;
	overflow: hidden;
}

.lifestyle-lists {
	height: 375px;	
}

.lifestyle-lists__menu {
	background: $color-header-hover-lifestyle;
	height: 375px;
}

.nav-lists__heading {
	text-transform: uppercase;
    font-family: monospace;
    font-size: 23px;
    letter-spacing: -1.5px;
    padding: 0 5px 0 5px;
}
    
.lifestyle-lists-hr {
	border-color: $color-header-hover-features;
	width: 100%;
	height: 2px;
	background: $color-header-hover-features;
}

.nav-lists__color-menu {
	height: 100%;
	padding: 0;
    list-style-type: none;
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    text-align: center;

    	a {
    		text-decoration: none;
    	}

    	&__item {
    		padding: 10px 0 10px 0;
    		border-bottom: 1px dashed;

    		&:hover {
    			color: $color-light-grey;
    			background: $color-dark-grey-background;
    		}
    	}
}

.nav-news-list {
	padding: 0;
    list-style-type: none;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;

    &__item {
    	margin: 25px 0 25px 0;
    }
}

.nav-lists__featured > div, .lifestyle-lists__recent > div, .nav-lists__featured > div, .nav-lists__recent > div {
	text-align: center;
}

.news-heading {
	float: right;
    margin: 0;
    font-size: 14px;
    padding-right: 30px;
    width: 65%;

    &:hover {
    	text-decoration: underline;
    	cursor: pointer;
    }
}

.nav-lists__featured {

    & > div {
    	margin-bottom: 25px;
    }

    & a {
	    color: inherit;
	    width: 100%;
	    height: 100%;
	    display: inline-block;
    }
}

.nav-lists-wrapper {
	width: 90%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    height: 240px;
    position: relative;

    img {
    	width: 100%;
   	 	height: 100%;
    }

    .post-identificator__item span {
    	font-size: 12px;
    }

    .post-identificator {
    	left: 20%;
    }

    .article-image-presentation__title {
    	bottom: 50px;
    	font-size: 20px;
    }
}

.percent-off {
	display: inline-block;
    background: rgba(228, 64, 110, 0.7);
    padding: 2px 3px;
    position: absolute;
    top: 0;
    right: 0;
}

.videogames-lists .percent-off {
	background: rgba(233, 204, 32, 0.5);
}

.videogames-lists .nav-news-list {
	display: inline-block;
    width: 49.5%;
    vertical-align: top;
}

.videogames .news-heading {
	padding-left: 3px;
    box-sizing: border-box;
    width: 70%;
}

.videogames ul .post-identificator {
	top: 35px;
}

.nav-news-list__item {
	position: relative;

	& > div {
		display: inline-block;
		position: relative;
	}

	& .post-identificator {
	    position: absolute;
	    bottom: 0;
	    left: 25%;
	    color: $color-dark-grey;

		& span {
			font-size: 10px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	& .post-identificator__item {
		margin: 0px;

		& i {
			font-size: 10px;
		}
	}

	.opacity-hover-background {
		height: 92%;

		&:hover {
			height: 92%;
		}
	}
}

.opacity-hover-background {
	width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(228, 64, 110, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity .3s linear;
}

.opacity-hover-background:hover  {
	opacity: 0.5;
}

.videogames-lists-hr {
	border-color: $color-header-hover-videogames;
	width: 100%;
	height: 2px;
	background: $color-header-hover-videogames;
}

.videogames-featured-img {
	position: relative;
}

.videogames-news-image {
	width: 80px;
	height: 60px;
}

.videogames-lists .opacity-hover-background {
	background: rgba(233, 204, 32, 0.5);
}

.design-lists {
	&__menu {
		background: $color-header-hover-design;
    	height: 375px;
	}
}

.features-lists, .design-lists, .lifestyle-lists, .videogames-lists, .music-lists {
	display: none;
	background: $color-dark-grey-background;
}

.music-lists__menu {
	background: $color-header-hover-music;
	height: 375px;
}

.music-lists .news-image{
	height: 60px;
    width: 80px;
}

.music-lists .nav-news-list__item:nth-child(3) {
	margin-bottom: 0;
}

.shop .shop-link {
	display: none;
    position: absolute;
    background: $color-header-hover-shop;
    padding: 12px 40px;
    font-size: 20px;
    letter-spacing: -1px;
    top: 48px;
    z-index: 1000;
    right: 11.9%;
}   

/*image section 2*/

.mini-article-carousel {
	background: $color-light-grey-background;
	width: 1140px;
	margin: 0 auto;

	img.film-roll__img {
		width: 282px;
    	height: 235px;
	}

	.post-identificator__item {
		margin: 15px 2px 20px 2px;
	}

	.article-image-presentation__title {
		padding: 0 15px 0 15px;
    	box-sizing: border-box;
	}

	a.film_roll_next, a.film_roll_prev {
		height: 98%;
		text-decoration: none;
	}
}

.mini-article-carousel-wrapper {
	background: $color-white;
	padding: 25px 0 20px 0;
}

.articles-preview-heading {
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding-top: 20px;
	font-family: sans-serif;
    line-height: 1.5em;
}

.article-preview-heading {
	padding-right: 65px;
	font-family: sans-serif;
    line-height: 1.5em;
}

.mini-article-carousel .articles-preview-heading {
	color: $color-dark-grey-background;
}

.articles-preview-subheading {
	text-align: center;
	color: $color-dark-grey;
}

.latest-posts .articles-preview-heading {
	color: $color-light-grey;
}

.latest-posts-wrapper {
	background: $color-white;
	padding-bottom: 40px;
}

.latest-posts__item {
	position: relative;

	.post-identificator {
		position: inherit;
    	left: 0;
    	text-align: left;

    	&__item {
    		margin: 15px 5px 20px 0;
    	}
	}

	.percent-off {
		right: 4%;
		text-align: center;
		padding: 5px 15px 5px 15px;
		
    	sub {
			font-size: 16px;
		}
		
		span:first-child {
			font-size: 35px;
	    	font-weight: bold;
	 		display: block;
		}

    	span:last-child {
		    font-size: 9px;
		    text-transform: uppercase;
		    display: inline-block;
    	}
	}

	&:last-child {
		img {
			float: right;
		}	
	}
}

.latest-posts__item:nth-child(odd){
	text-align: center;
}

.w33.latest-posts__item {
	height: 495px;
}

.latest-posts {
	background: $color-dark-grey-background;
    width: 1140px;
    margin: 0 auto;
}

.hr-pink {
	border-color: $color-header-hover-lifestyle;
    height: 2px;
    background: $color-header-hover-lifestyle;
}

.hr-blue {
	border-color: $color-header-hover-design;
    height: 2px;
    background: $color-header-hover-design;
}

.hr-red {
	border-color: $color-header-hover-music;
    height: 2px;
    background: $color-header-hover-music;
}

.hr-orange {
	border-color: $color-header-hover-features;
    height: 2px;
    background: $color-header-hover-features;
}

.latest-posts__item .post-identificator {
	left: 2%;
}

.preview-info-wrapper {
    box-sizing: border-box;
    padding: 0 25px 0 20px;
    text-align: left;
}

.article-preview-post {
	height: 75px;
	color: $color-light-grey;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/*sections-info*/

.sections-info {
	background: $color-white;
}

.leaderboard-wrapper {
	height: 90px;
    width: 970px;
    margin: 0 auto;

    img {
    	width: 100%;
    	height: 100%;
    }
}

.w66.music + .leaderboard-wrapper {
	width: 66%;
	margin: 50px 0 50px 0;
    float: left;
}

.sections-info {
	width: 1140px;
	margin: 0 auto;

	.row {
		margin-top: 50px;
	}

	.w33 {
		height: 100%;
	}

	.post-identificator {
		position: inherit;
		left: 0;
    	text-align: left;
	}

	.design {
		background: $color-light-grey-background;
		color: $color-dark-grey-background; 

		.article-preview-post {
			color: $color-dark-grey;
		}
	}
}

.photo-post-info-wrapper {
	height: 100%;
}

.sections-info-wrapper {
	background: $color-white;
}

.hip-hop {
	background: $color-dark-grey-background;
}

.photo-post-wrapper {
	img {
		float: left;
	}

	&__title {
		float: left;
		margin-left: 20px;
		margin-top: 5px;
	    font-family: sans-serif;
    	font-size: 14px;
	}

	.post-identificator {
    	text-align: left;
    	float: right;
    	width: 73%;
	}
}

.sections-info .post-identificator__item {
	margin: 5px 1px 5px 1px;
}

.photo-post-wrapper {
	height: 120px;
	padding-left: 10px;
}

.sections-article-wrapper {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0 35px 0 20px;
    position: relative;

    .post-identificator {
	    margin-bottom: 15px;
    }
}

.sections-article-title {
	font-family: sans-serif;
    letter-spacing: -0.5px;
}

.hip-hop hr + div img, .top-review-wrapper img {
	width: 100%;
}


.recent-comments {
	.photo-post-wrapper {
		color: $color-dark-grey;
	    height: auto;
    	margin: 20px 0;
	}

	.photo-post-info-wrapper {
		line-height: 4em;

		span:first-child {
			display: inline-block;
			padding-left: 20px;
		}

		span:nth-child(odd) {
			display: inline-block;
	    	margin: 0 10px 0 10px;
		}
	}

	.hr-blue {
		margin-bottom: 0;
	}
}

.empty-block {
	height: 30px;
	background: $color-white;
}

#social-media__wrapper {
	background: $color-white;
	padding: 20px 0 30px 0;
	box-sizing: border-box;

	i {
    	font-size: 85px;
	    margin: 9px;
	}
}

.hr-orange {
	border-color: $color-header-hover-features;
    height: 2px;
    background: $color-header-hover-features;
    margin-bottom: 0;
}

.fa-rss-square {
	color: $color-icon-rss;
}

.fa-twitter-square {
	color: $color-icon-twitter;
}

.fa-facebook-square {
	color: $color-icon-facebook;
}

.fa-google-plus-square {
	color: $color-icon-google;
}

.top-reviews, .social-media, .recent-comments, .w66.music, .slider-widget {
	background: $color-light-grey-background;
	color: $color-dark-grey-background; 
	overflow: hidden;
}

.top-reviews {
	position: relative;

	.percent-off {
		right: 0;
		text-align: center;
		padding: 5px 15px 5px 15px;
		color: $color-white;
		
    	sub {
			font-size: 16px;
		}
		
		span:first-child {
			font-size: 35px;
	    	font-weight: bold;
	 		display: block;
		}

    	span:last-child {
		    font-size: 9px;
		    text-transform: uppercase;
		    display: inline-block;
    	}
	}
}

.top-review-wrapper {
	position: relative;

	.post-identificator {
		text-align: center;
	    position: absolute;
	    color: $color-white;
	    bottom: 15px;
	    width: 100%;
	}
}

.top-position {
	display: inline-block;
    background: rgba(218, 218, 218, 0.7);
    padding: 10px 18px;
    color: $color-black;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 0;
}

.top-review-title {
	text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 10px;
    text-align: center;
}

.lighten-rss-icon {
	color: lighten($color-icon-rss, 10%);
}

.lighten-facebook-icon {
	color: lighten($color-icon-facebook, 10%);
}

.lighten-twitter-icon {
	color: lighten($color-icon-twitter, 10%);
}

.lighten-google-icon {
	color: lighten($color-icon-google, 10%);	
}

.carousel-recent-comment-2 {
	display: none;
	margin: 0 10px 0 10px;
}

.recent-comments .photo-post-info-wrapper .carousel-recent-comment-1 {
	padding: 0 !important;
}

ul.carousel-comments {
	padding: 0;
    margin: 0;
    display: inline-block;
}

.recent-comments, .social-media, .top-reviews, .slider-widget {
	margin-bottom: 25px;
}

.w33.design, .w33.hip-hop {
	float: left;
	margin-right: 0.33%;
}

.top-review-wrapper {
	.film_roll_prev {
		height: 98%;
		text-decoration: none;
	}

	.film_roll_next {
		height: 98%;
		text-decoration: none;
	}
}

.w66.music {
	float: left; 
	padding-bottom: 25px;
	margin-top: 30px;
}

.w48.music__post-wrapper:first-child {
	float: left;
    overflow: hidden;
    height: 240px;
}

.w48.music__post-wrapper:last-child {
	float: right;
    height: 240px;
}

.music__post-wrapper {
	.fa-stack {
		font-size: 35px;
	    position: absolute;
    	top: 36%;
    	left: 40%;
	}

	.fa-circle {
		color: rgba(240, 240, 240, 0.7);	
	}

	.fa-headphones {
		font-size: 25px;
	}

	p.article-preview-post {
		color: $color-dark-grey;
	}
}

.right-column {
	float: right;
}

.music-post-image-wrapper {
	background-size: cover;
	width: 100%;
    height: 240px;
    position: relative;
}

.music-post-image-wrapper.post-1 {
	background-image: url(../images/jellyfish.jpg);
}
.music-post-image-wrapper.post-2 {
	background-image: url(../images/firewood.jpg);
}

.w66.latest-products {
    float: left;
}

.first-latest-product, .second-latest-product, .third-latest-product {
	position: relative;
	overflow: hidden;
	background: rgba(45, 45, 45, 0.4);

	img {
	    width: 100%;
	    height: 100%;
	    opacity: 0.8;
	}
}

.latest-posts-header {
	background: $color-light-grey-background;
	color: $color-dark-grey-background; 
}

.first-latest-product {
  	margin-bottom: 7px;
    height: 400px;
}

.latest-products-top-heading {
	text-transform: uppercase;
	color: $color-white;
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.puzzle-article-block {
    width: 100%;
    float: left;

    .w49and5 {
    	height: auto;
    	vertical-align: top;
    }
}

.puzzle-article-block__big {
	width: 100%;
}

.puzzle-article-block__big, .puzzle-article-block__small {
	height: 235px;
	margin-bottom: 4px;
}

.puzzle-article-block__image {
	width: 100%;
}

.w49and5.puzzle-article-block__small:nth-child(2) {
	float: right;
}

.vertical-lines {
	display: none;
	position: absolute;
	right: 25px;
	left: 25px;
	border-right: 1px solid $color-white;
	border-left: 1px solid $color-white;
    height: 85%;
    top: 20px;
}

.article-preview-img-wrapper {
	position: relative;
    width: 96%;
    height: 51%;

    p.article-preview-img-wrapper__title {
    	display: none;
	    position: absolute;
	    top: 20%;
	    width: 100%;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-family: sans-serif;
	    letter-spacing: 3px;
    }
}

.article-preview-img {
	height: 100%;
	width: 100%;
}

.horizontal-lines {
	display: none;
	border-top: 1px solid $color-white;
	border-bottom: 1px solid $color-white;
	position: absolute;
	top: 25px;
	bottom: 25px;
	width: 95%;
	right: 8px;
}

.thick-vertical-lines {
	display: none;
	position: absolute;
	right: 10px;
	left: 10px;
	top: 0;
	border-right: 1px solid $color-dark-grey-background;
	border-left: 1px solid $color-dark-grey-background;
    height: 100%;
}

.thick-horizontal-lines {
	display: none;
	position: absolute;
	top: -10px;
	bottom: -10px;
	right: 40%;
	border-top: 1px solid $color-dark-grey-background;
	border-bottom: 1px solid $color-dark-grey-background;
    width: 25%;
}