$color-white: #FFF;
$color-black: #000;
$color-header: #F5F5F5;
$color-light-grey: #DADADA;
$color-light-grey-background: #F0F0F0;
$color-dark-grey: #A4A4A4;
$color-dark-grey-background: #2D2D2D;
$color-grey-text-icons: #999999;
$color-header-hover-features: #EB9812;
$color-header-hover-lifestyle: #E4406E;
$color-header-hover-videogames: #E9CC20;
$color-header-hover-design: #689FCE;
$color-header-hover-music: #C4393E;
$color-header-hover-shop: #515670;
